.navbar{
    height: 4rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3.5rem;
}

a{
    text-decoration: none;
}

.desktopMenuListItem {
    font-family: 'Lato', sans-serif;
    margin: 2rem;
    cursor: pointer;
    font-size: 18px;
    position: relative; /* This is necessary for absolute positioning of the pseudo-element */
    display: inline-block; /* Ensure the element has a defined width */
    color: #4c00b4;
}

.desktopMenuListItem::before {
    content: '';
    position: absolute;
    bottom: 0; /* Adjust this value to position the underline */
    left: 50%;
    width: 0;
    height: 2px; /* Height of the underline */
    background-color: #3c009d;
    transition: width 0.3s ease, left 0.3s ease; /* Smooth transition for the width and horizontal position */
    transform: translateX(-50%);
}

.desktopMenuListItem:hover::before {
    width: 100%;
    left: 0; /* Reset left position to cover the full width */
    transform: translateX(0%); /* Reset transform for full width coverage */
}

.desktopMenuBtn{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 18px;
    color: #4c00b4;
    background-color: #ffffff;
    padding: 10px 30px;
    border: 2px solid #3c009d;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.desktopMenuBtn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #3c009d;
    color: #ffffff;
    border: solid 2px #3c009d;
}